{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <a href="{% url 'create-link' %}">Create new short link</a>
  Your links:
    <table>
        {% for link, landing_pages in links_landing_pages.items %}
        <tr>
            <td><a href="{% url 'link-detail' link.slug %}">{{ link.short_url_path }}</a>
                    {% for page in landing_pages %}
                       points to  <a href="{% url 'landing-page-update' page.pk %}"> {{ page }}</a>
                    {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

    Visits from links:
    <table>
        {% for link, visits in links_visits.items %}
            <tr>
              {{link}} visited by
                {% for visit in visits %}
                    {{ visit.ip_address }}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}